 .u-section-1 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 509px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-1 .u-form-1 {
  height: 323px;
  width: 570px;
  margin: 44px auto 59px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}