 .u-section-1 {
  background-image: url("images/bg-purple.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 721px;
}

.u-section-1 .u-image-1 {
  min-height: 486px;
  width: 519px;
  height: auto;
  background-image: url("images/Kadistulogopng1.png");
  background-position: 50% 50%;
  margin: 117px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 36.89% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
} .u-section-2 {
  background-image: linear-gradient(rgba(184,83,193,0.96), white);
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 22px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/cavmachine.jpg");
  background-position: 50% 50%;
  min-height: 453px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 374px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-2 .u-image-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 112px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, rgba(184,83,193,0.96));
}

.u-section-3 .u-sheet-1 {
  min-height: 583px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: linear-gradient(rgba(184,83,193,0.96), white);
}

.u-section-4 .u-sheet-1 {
  min-height: 200px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 80px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 210px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: linear-gradient(white, rgba(184,83,193,0.96));
}

.u-section-5 .u-sheet-1 {
  min-height: 583px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
} .u-section-6 {
  background-image: linear-gradient(rgba(184,83,193,0.96), white);
}

.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 80px 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 210px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: linear-gradient(white, rgba(184,83,193,0.96));
}

.u-section-7 .u-sheet-1 {
  min-height: 583px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }
} .u-section-8 {
  background-image: linear-gradient(rgba(184,83,193,0.96), white);
}

.u-section-8 .u-sheet-1 {
  min-height: 536px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 179px 22px 0;
}

.u-section-8 .u-image-1 {
  min-height: 453px;
  background-image: url("images/ScreenShot2024-06-17at10.29.57AM.png");
  margin-right: auto;
  margin-left: auto;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 453px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 374px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 374px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 487px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 487px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-8 .u-image-1 {
    min-height: 546px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 309px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 317px;
  }
} .u-section-9 {
  background-image: linear-gradient(white, rgba(184,83,193,0.96));
}

.u-section-9 .u-sheet-1 {
  min-height: 583px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 22px;
}

.u-section-9 .u-image-1 {
  min-height: 453px;
  background-image: url("images/bg-wood.jpeg");
  margin-right: auto;
  margin-left: auto;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 453px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-2 {
  margin: 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 374px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-9 .u-image-1 {
    min-height: 534px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 178px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-image-1 {
    min-height: 112px;
  }
} .u-section-10 {
  background-image: linear-gradient(rgba(184,83,193,0.96), white);
}

.u-section-10 .u-sheet-1 {
  min-height: 536px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 179px 22px 0;
}

.u-section-10 .u-image-1 {
  min-height: 453px;
  background-image: url("images/bg-cups.jpeg");
  margin-right: auto;
  margin-left: auto;
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 453px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 374px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 374px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-image-1 {
    min-height: 487px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 487px;
  }

  .u-section-10 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-10 .u-image-1 {
    min-height: 546px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 309px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 317px;
  }
}
